<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h2 id="room" data-room="<%= @group.id %>" data-user="<%= current_student.id %>"><%= @student.name %> さんとのチャット</h2>

            <table class="message table">
              <thead>
                <tr>
                  <th style="text-align: left; font-size: 20px;"><%= current_student.name %></th>
                  <th style="text-align: right; font-size: 20px;"><%= @student.name %></th>
                </tr>
              </thead>
              <% @posts.each do |post| %>
                <% if post.student_id == current_student.id %>
                <tbody>
                  <tr>
                    <th>
                      <p style="text-align: left;"><%= post.content %></p>
                    </th>
                    <th></th>
                  </tr>
                </tbody>
                <% else %>
                <tbody>
                  <tr>
                    <th></th>
                    <th>
                      <p style="text-align: right;"><%= post.content %></p>
                    </th>
                  </tr>
                </tbody>
                <% end %>
              <% end %>
            </table>

            <%= form_with model: @post do |f| %>
              <%= f.text_field :content %>
              <%= f.hidden_field :group_id %>
            <% end %>
        </div>
    </div>
</div>